<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalcURecipe"
        tools:targetApi="31"
        android:requestLegacyExternalStorage="true">
        <activity android:name=".AddRecipeActivity" android:exported="false"/>
        <activity android:name=".DetailsRecipeActivity" android:exported="false"/>
        <activity android:name=".EditRecipeActivity" android:exported="false"/>
        <activity android:name=".FolderContentsActivity" android:exported="false"/>
        <activity android:name=".HelpActivity" android:exported="false"/>
        <activity android:name=".SavedListsActivity" android:exported="false"/>
        <activity android:name=".SaveRecipeActivity" android:exported="false"/>
        <activity android:name=".SearchActivity" android:exported="false"/>
        <activity android:name=".SettingsActivity" android:exported="false"/>
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <uses-library android:name="android.test.mock"/>
        <uses-library android:name="android.test.runner"/>

        <!-- You may need to trigger Google Play services to install the backported photo picker module. https://developer.android.com/training/data-storage/shared/photopicker#:~:text=Older%20devices%20that%20run%20Android%204.4%20(API%20level%2019)%20through%20Android%2010%20(API%20level%2029)%20and%20Android%20Go%20devices%20running%20Android%2011%20or%2012%20that%20support%20Google%20Play%20services%20can%20install%20a%20backported%20version%20of%20the%20photo%20picker. -->
    </application>

</manifest>